language: cpp
compiler: gcc
sudo: false
cache:
  - apt
addons:
 apt:
   sources:
   - ubuntu-toolchain-r-test
   - george-edison55-precise-backports
   packages:
   - gcc-4.8
   - g++-4.8
   - cmake
   - cmake-data
before_script:
  - export CXX=g++-4.8 CC=gcc-4.8
  - $CXX --version
  - cmake --version
  - mkdir build
  - cd build
  - cmake ..
script: make
branches:
  only:
  - master
notifications:
  email: false
